<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Front - end työkalut</span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <a routerLink="/hello" routerLinkActive="active">
    <button mat-menu-item>Home</button></a
  >
  <a routerLink="/calculator" routerLinkActive="active">
    <button mat-menu-item>Calculator</button></a
  >
  <a routerLink="/feedback" routerLinkActive="active">
    <button mat-menu-item>Feedback</button></a
  >
  <a routerLink="/template" routerLinkActive="active">
    <button mat-menu-item>Template driven form</button></a
  >
  <a routerLink="/reactive" routerLinkActive="active">
    <button mat-menu-item>Reactive form</button></a
  >
  <a routerLink="/news-list" routerLinkActive="active">
    <button mat-menu-item>Finnkino</button></a
  >
</mat-menu>
